<script id="error-503" type="text/template">

    <div class="well box-erro503">
        <p class="ffarial fs22 fccinza3">Desculpe, nosso sistema está indisponível no momento.</p>
        <p class="ffarial fs14 fccinza3">Estamos trabalhando para normalizá-lo o mais rápido possível.</p>
    </div>

    <div class="well box-erro503">
        <p class="ffarial fs22 fccinza3">Desculpe, nosso sistema está indisponível no momento.</p>
        <p class="ffarial fs14 fccinza3">Estamos trabalhando para normalizá-lo o mais rápido possível.</p>
        <p class="ffarial fs14 fccinza3 preencha-dados">Preencha seus dados abaixo e nós avisaremos quando o site estiver normalizado.</p>
        <ul class="erro503-email-celular">
            <li>
                <p class="ffarial fs11 fcpreto">E-mail</p>
                <input type="text" class="form-control ffarial fs12 fcpreto email" placeholder="Digite seu e-mail">
            </li>
            <li>
                <p class="ffarial fs11 fcpreto">Celular</p>
                <input type="text" class="form-control ffarial fs12 fcpreto celular" placeholder="Digite seu celular">
            </li>
        </ul>
        <button type="button" class="btn btn-roxo bg-btn-roxo btn-enviar-erro503">Enviar</button>
    </div>

</script>
