html,
body {
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

a {
    outline:none;
    word-wrap: break-word;
}

/* Preloader */
.preloader {
    position: fixed;
    display: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:101; /* makes sure it stays on top */
    filter: alpha(opacity=80); /* internet explorer */
    -khtml-opacity: 0.8;      /* khtml, old safari */
    -moz-opacity: 0.8;       /* mozilla, netscape */
    opacity: 0.8;           /* fx, safari, opera */
}

.preloader .status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(../img/preloader.gif);
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}


.debug {
  position: fixed;
  background-color: #333;
  background: rgba(0,0,0,0.6);
  width: 300px;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  color: #FFF;
  font-size: 11px;
  font-family: 'Arial';
  font-weight: bold;
  padding: 5px;
  line-height: 120%;
  -moz-osx-font-smoothing: none;
   -webkit-font-smoothing: none;
}
.padded { padding: 10px; }
.no-padding-left{ padding-left: 0; }
.no-padding-right{ padding-right: 0; }
.ie-warning { background-color: #000; padding: 12px 0 1px 0;}
.warning a { text-transform: uppercase; background: #000; font-size: 11px; font-weight: bold; color: #aaa; line-height: 100%;}
.warning a:link,
.warning a:visited { color: #fff; text-decoration: none; }
.warning a:hover { color: #f47721; background: #fff; text-decoration: none; }

::-webkit-selection { background: #f06923; color: #fff; }
   ::-moz-selection { background: #f06923; color: #fff; }
        ::selection { background: #f06923; color: #fff; }

/*[class^="col"] { background-color: rgba(255, 0, 0, 0.3); }*/

.navbar {
  min-height: 12px !important;
  max-height: 32px !important;
}

.navbar-brand {
  height: 32px !important;
  padding: 5px 0 0 0 !important;
  margin-left: 0px !important;
}

.vertical-centered {
    min-height: 6.5em;
    display: table-cell;
    vertical-align: middle;
}

.fullscreenbackground {
    background: url('images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.right-text {
  text-align: right !important;
}

.centered-abs {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

.centered-text {
    text-align: center;
}

.transparent {
    filter: alpha(opacity=50); /* internet explorer */
    -khtml-opacity: 0.5;      /* khtml, old safari */
    -moz-opacity: 0.5;       /* mozilla, netscape */
    opacity: 0.5;           /* fx, safari, opera */
}
.invisible {
    filter: alpha(opacity=0); /* internet explorer */
    -khtml-opacity: 0;      /* khtml, old safari */
    -moz-opacity: 0;       /* mozilla, netscape */
    opacity: 0;           /* fx, safari, opera */
}

img.polaroid {
    background:#000;
    border:solid #fff;
    border-width:6px 6px 20px 6px;
    box-shadow:1px 1px 5px #333;
    -webkit-box-shadow:1px 1px 5px #333;
    -moz-box-shadow:1px 1px 5px #333;
    height:200px;
    width:200px;
}

.bg0 {
  background: #dedede;
}
.bg1  {
  background: #d2d2d2;
}
.bg2  {
  background: #ccc;
}
.bg3  {
  background: #34d4d4;
}
.bg4  {
  background: #ffcc00;
}
.padded {
  padding: 10px;
}
.credit_card_provider {
  padding-bottom: 10px;
}

.white, .white a {
  color: #fff;
}
.box {
  background: #FFF;
}
.cornered {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.shadowed {
  -moz-box-shadow:    0px 3px 3px 1px #ddd;
  -webkit-box-shadow: 0px 3px 3px 1px #ddd;
  box-shadow:         0px 3px 3px 1px #ddd;
}

.divider {
  margin-top:10px;
}

.topspaced {
  margin-top:10px;
}

.bottomspaced {
  margin-bottom:10px;
}

.centeringContainer {
  margin: 0 auto;
  /*width: 360px;*/
}
.centered {
  float: left;
  height: 100px;
  margin: 0 10px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.center-dad {
   display: table;
   width: 100%;
}
.center-child {
   display: table-cell;
}

.full-height {
  overflow: auto;
  background: #ccc;
  min-height: 100%;
  height: auto;
}

.begins-at-bottom {
    position:absolute;
    bottom:0;
}

/* Lastly, apply responsive CSS fixes as necessary */

/* xx-small devices */
@media (min-width: 40px) and (max-width: 360px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
  /* Styles */
}
